* {
    box-sizing: border-box;
}
body {
    background: black url("../../assets/images/theater2.png") no-repeat 50% 50% fixed;
    background-size: cover;
    font-family: 'Limelight', cursive;
    color: #f2f3f4;
    text-align: center;
}
.container {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.container h1 {
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 48px;
}
button { 
    font-family: 'Limelight', cursive;
    font-size: 20px;
    background: #800000;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    margin: 1em auto;
    display: block;
}
button:hover {
    cursor: pointer;
}
.game-container {
    height: 100%;
    margin-top: 100px;
}
.game-container h2 {
    font-size: 24px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.game-container h3 {
    font-size: 20px;
}
.game-container p {
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
.htmlChoices {
    cursor: pointer;
}
.htmlChoices:hover {
    color: #800000;
}
.htmlChoices:active {
    color: #800000;
}
.game-container img {
    max-width: 80%;
    max-height: 70%;
}

@media only screen and (min-width: 600px) {
    body {
        background: black url("../../assets/images/theater.png") no-repeat 50% 50% fixed;
        background-size: cover;
    }
    .container {
        max-width: 600px;
    }
    .game-container h2 {
        font-size: 30px;
    }
    .game-container p {
        font-size: 26px;
            max-width: 50%;
    }
}
@media only screen and (min-width: 1000px) {
    .htmlChoices:hover {
        border: 1px solid #1a1a1a;
    }
    .container h1 {
        margin-top: 5em;
    }
    .game-container {
        margin-top: 150px;
    }        
    .game-container p {
        margin-top: .25em;
        margin-bottom: .25em;
        padding-top: .25em;
        padding-bottom: .25em;
    }
}
